{% extends 'base.html.twig' %}

{% block body %}

   <form action="{{path("search")}}" method="post">
    <div>
	    <label for="_name">Giveaway Name</label>
	    <input type="text" class="form-control" id="name" name="_name" value="{{_name}}" required="required" />
	</div>
	<div>
	<label for="sort">Sort By Price</label>
   	<select class="form-control" id="sort" name="_sort">
            <option {% if (_sort == 'asc') %} selected {% endif %} value="asc">Low to High</option>
            <option {% if (_sort == 'desc') %} selected {% endif %} value="desc">High to Low</option>
    </select>
    </div>
    <br>
    <div>
    	<input type="submit" id="_submit" name="_submit" value="Search" />
    </div>
</form>

<div>


<br>
{% if giveaways is not empty %}
<table border=1px >
<tr><th>GiveAway</th><th>Slug</th><th>Price</th></tr>
    {% for gives in giveaways %}
        
        <tr>
            <td>{{ gives.name }}</td>
            <td>{{ gives.slug }}</td>
            <td>${{ gives.price }}</td>
            
        </tr>
    {% endfor %}
</table>
{% endif %}

</div>
{% endblock body %}