{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<center>   
    <h2>Log In to the portal</h2>
    <div class="well">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline">

            <input class="form-control" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required" />
            </div>
            <div class="form-group">
                    <label for="remember_me"  class="form-check-label">{{ 'security.login.remember_me'|trans }}
                        <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on" />
                    </label>
            </div>
            <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
</center>        
{% endblock fos_user_content %}
